.clientsLi {
    padding: 10px;
    color: brown;
}

.name {
    font-weight: bold;
}

.email {
    color: blue;
}

.availability {
    font-style: italic;
    color: blueviolet;
}
.client-image{
    height: 220px;
}
/* @media (min-width: 600px) .client-image{
     height: 33vw;
    width: 33vw; 

} */

.client-add-button{
    margin-bottom:20px;
    padding: 10px;
}